.io{

    border: 2px solid black;

    width: 200px;
    height: 200px;
}

body{
    background-color: rgb(246, 146, 146);
    margin: auto;
}

h1{
    padding: 5px;
    border-radius: 20%;
    color: black;
    background-color: rgb(252, 188, 188);
}